!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi
    %p
      #{@user} needs a equipment: #{@message}
      %br
    %p Thanks you for your work and have a great day!